.container {
  z-index: 10000;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 48px;
  cursor: auto;
  pointer-events: auto;
  
}

@media screen and (min-width: 600px) {
  .container {
    left: 50%;
    right: auto;
    bottom: auto;
    top: 12px;
    width: 296px;
    margin-left: -148px;
    
  }
}
