.inputPhone {
  border: none;
  width: 100%;
  line-height: 20px;
}

.addBaseAcc {
  border: none;
  width: 100%;
  height: 54px;
  font-size: 25px;
  background: #ffd600;
  border-radius: 6px;
  cursor: pointer;
}
.graySmallBtn {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #999;
}
.statusBtn {
  background: #fff;
  border: 2px solid #ffd600;
  box-sizing: border-box;
  border-radius: 6px;
}
.loginhead {
  
}