.graySmallBtn {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #999;
  background: transparent;
}
.grid {
  display: flex;
  align-items: center;
}
.tariffList {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
.address {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.text {
  margin-top: 0.1em;
  margin-bottom: 0em;
}
.paymentMethod {
  display: flex;
  align-items: center;
}
.cancelOrder {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}
.bigWhiteBtn {
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: white;
  border: 2px solid #ffd600;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  max-height: 54px;
}

.stateForm {
  text-align: center;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  max-height: 54px;

  background-color: #eeeeee;
  border-radius: 6px;
}
.timer {
  text-align: left;
  width: auto;
}
.timer__label {
  font-size: 12px;
  line-height: 20px;
}

.timer__clock {
  line-height: 20px;
  font-size: 18px;
}
