.tariff {
  margin: 0px;
  padding: 0px;

  width: 75px;
  height: 54px;

  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
  font-size: 12px;
}
.tariffActive {
  background: #eeeeee;
  
}
.tariff__price {
  font-size: 18px;
}
