.tariff {
  /* width: 75px; */
  height: 54px;

  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding: 6px;
  box-sizing: border-box;
}
.tariffActive {
  background: #eeeeee;
}
.tariff__price {
  line-height: 20px;
  font-size: 18px;
}
