html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root,
#map {
  width: 100%;
  height: 100%;
  position: relative;
}

.btn-map {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background: #fff;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  position: absolute;
  z-index: 10000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

.btn-map__findme {
  top: 50%;
  right: 1em;
  margin-top: -1em;
}
.inputmap {
  z-index: 10000;
  position: fixed;
  width: 320px;
  left: 45%;
  top: 0;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.inputtext1 {
  border: none;
  border-bottom: 1px solid #e9e9e9;
}
.inputtext2 {
  border: none;
}
.inputmapbutton {
  display: flex;
  justify-content: center;
}
.mapbutton {
  width: 55px;
  border-radius: 12px;
}

.tarifmodal {
  z-index: 10000;
  position: fixed;
  left: 45%;
  top: 12%;
  padding: 10px;
  width: 320px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.standart {
  margin: 0px;
  padding: 0px;

  width: 75px;
  height: 54px;

  background: #eeeeee;
  border-radius: 6px;
}
.business {
  width: 75px;
  height: 54px;

  background: #eeeeee;
  border-radius: 6px;
}

.texttarif {
  line-height: 1px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;

  text-align: center;
}
.price {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1px;
}
