html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root,
#map {
  width: 100%;
  height: 100%;
  position: relative;
}

.inputtext1 {
  border: none;
  border-bottom: 1px solid #e9e9e9;
}
.inputtext2 {
  border: none;
}
.inputmapbutton {
  display: flex;
  justify-content: center;
}
.mapbutton {
  width: 55px;
  border-radius: 12px;
}

.standart {
  margin: 0px;
  padding: 0px;

  width: 75px;
  height: 54px;

  background: #eeeeee;
  border-radius: 6px;
}
.business {
  width: 75px;
  height: 54px;

  background: #eeeeee;
  border-radius: 6px;
}

.texttarif {
  line-height: 1px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;

  text-align: center;
}
.price {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1px;
}
